@import './base.css';
@import 'tailwindcss';

.drag {
  app-region: drag;
}

.no-drag {
  app-region: no-drag;
}

.center {
  @apply flex items-center justify-center;
}

#cus-sider {
  .ant-layout-sider-children {
    @apply flex flex-col;
  }
}
